name: Publish to ESP Component Registry

on:
  push:
    tags:
      - "v*"

jobs:
  upload_components:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Upload component
        uses: espressif/upload-components-ci-action@v2
        with:
          namespace: "grrtzm"
          components: "vl53l1x-library: ."
          api_token: ${{ secrets.ESP_COMPONENT_REGISTRY_TOKEN }}
